{{new_playbook_name}}
=====================

Brief playbook description


Variables
--------------
Look and update [group_vars/all](group_vars/all) file to meet your enivronnement



How to use 
----------

Start generate_playbook.sh PlaybookName PlaybookPath


License
-------

Licensed under the MIT License. See the [LICENSE](LICENSE) file for details.


Author Information
------------------

Talk about you :)
